---
import Layout from '../layouts/Layout.astro';

import { getCollection } from 'astro:content';
import type { CollectionEntry } from 'astro:content';

const allSeries: CollectionEntry<'series'>[] = await getCollection('series');
const allSets: CollectionEntry<'sets'>[] = await getCollection('sets');

// Initialize each series item with an empty sets array
for (let i = 0; i < allSeries.length; i++) {
	allSeries[i].data.sets = [];
}

// Link each set to the corresponding series and add cardCount to each set
allSets.forEach((set) => {
	const series = allSeries.find((series) => series.id === set.data.seriesId);
	if (series) {
		// Add the set to the series's sets array
		series.data.sets.push({
			...set,
			cardCount: set.data.cards.length, // Add card count directly to the set
		});
	}
});
---

<Layout title="TCG Card Collection" description="My collection of trading cards">
	<div class="container mx-auto py-12 px-4 sm:px-6 lg:px-8">
		<h1 class="text-5xl font-extrabold text-center mb-16 text-gray-800">TCG Tracker</h1>

		<div class="space-y-10">
			{allSeries.map((series) => (
				<div class="bg-white p-10 border border-gray-200 rounded-lg shadow-xl transition transform hover:scale-105">
					<h2 class="text-3xl font-semibold text-indigo-800 mb-8">
						<span class="text-gray-500">Series:</span> {series.data.name}
					</h2>
					<ul class="space-y-4">
						{series.data.sets.map((set: any) => {

							const setStyles = set.cardCount > 0
								? "bg-gradient-to-r from-indigo-50 to-indigo-100 p-6 rounded-lg shadow-md hover:shadow-lg hover:from-indigo-100 hover:to-indigo-200 transition-transform transform hover:scale-105"
								: "bg-gray-100 p-6 rounded-lg shadow-md opacity-50 cursor-not-allowed";

							return (
								<li>
									<a href={`/set/${set.id}`} class={`${setStyles} block`}>
										<div class="flex items-center space-x-4">
											<div class="flex-shrink-0 bg-indigo-200 rounded-full w-12 h-12 flex items-center justify-center text-indigo-600 font-bold">
												{set.data.name.charAt(0).toUpperCase()}
											</div>
											<div class="flex-1">
												<div class="text-lg font-bold text-indigo-800">{set.data.name}</div>
												<div class="text-sm text-gray-500">Cards: {set.cardCount}</div>
											</div>
											<div class="text-indigo-600 flex items-center">
												<svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
													<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
												</svg>
											</div>
										</div>
									</a>
								</li>
							);
						})}
					</ul>
				</div>
			))}
		</div>
	</div>
</Layout>
