---

import { Image } from 'astro:assets';

interface Props {
	set: string;
	name: string;
	number: string;
}

const { set, name, number }: Props = Astro.props;

const imagePath = `/images/${set}/${set}-${number.replace('#', '')}.webp`;
---

<li class="bg-indigo-50 p-4 rounded-md shadow-sm hover:bg-indigo-100 transition flex items-center space-x-4">
	<Image src={imagePath} alt={name} width={80} height={112} class="rounded-md" />
	<div>
		<strong class="text-gray-800">{number}:</strong> <span class="text-indigo-700">{name}</span>
	</div>
</li>